
<div class="full-screen-container">
  <div class="register-wrapper">

    <form [formGroup]="loginForm">

      <mat-card-title class="login-title"> Log in </mat-card-title>

      <div class="form-field">
        <mat-form-field appearance="outline">
           <input [formControl]="emailControl" matInput [(ngModel)]="emailModel" placeholder="Email">
          <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <input [formControl]="passwordControl" type="password" matInput [(ngModel)]="passwordModel" formControlName="password">
          <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

  <div>
      <button class="btnLogIn" mat-button (click)="login()" [disabled]="!loginForm.valid">Log in</button>
  </div>
      <div>
      <button class="btnRegister" mat-button (click)="goToRegisterPage()">Register</button>
      </div>
    </form>

</div>
  </div>


