.wrapper {
  background: transparent;
  border-radius: 10px;
}

.example-card {
  margin-bottom: 20px;
  min-height: 250px;
  background: transparent;
  color: black
}

.example-card:hover{
  background: #f8f8ff;
}

.mat-card-subtitle{
  color: black
}

.post-header {

}

.post-body {
  background: transparent;
  height: auto;
  display: flex;
}

.post-body img {
  height: 200px;
  width: 200px;
  float: left;
}

.post-body ul{
  list-style-type: none;
  margin: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: transparent;
}

.post-body li{
  margin-top: 20px;
}

mat-catd-content img {
  height: 200px;
  width: 30%;
  float: left;
}
mat-catd-content ul{
  width: 70%;
  float: left;
}

.address-price{
  font: 400 18px/20px Roboto, "Helvetica Neue", sans-serif;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  margin-top: 20px;
  color: black;
  background: #e2711d;
}

.post-error{
  display: inline;
  justify-content: center;
}
