.wrapper {
  background: transparent;
  border-radius: 10px;
}

.example-card {
  margin-bottom: 20px;
  min-height: 250px;
  background: white;
  color: black
}

.example-card:hover{
  background: #f8f8ff;
}

.mat-card-subtitle{
  color: black
}

.post-header {

}

.post-body {
  background: transparent;
  height: auto;
  display: flex;
}

.post-body img {
  height: 200px;
  width: 200px;
  float: left;
}

.post-body ul{
  list-style-type: none;
  margin: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: transparent;
}

.post-body li{
  margin-top: 20px;
}

mat-catd-content img {
  height: 200px;
  width: 30%;
  float: left;
}
mat-catd-content ul{
  width: 70%;
  float: left;
}

.address-price{
  font: 400 18px/20px Roboto, "Helvetica Neue", sans-serif;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  margin-top: 20px;
  color: black;
  background: #e2711d;
}

.post-error{
  display: inline;
  justify-content: center;
}

.img-wrapper{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px 20px 20px;
}

.header-wrapper{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px 20px 20px;
  margin-bottom: 20px;
}


.body-wrapper{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px 20px 20px;
  margin-left: 20px;
  width: 100%;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  display: block;
  margin-bottom: 0;
}
