<app-navbar></app-navbar>

<div class="wrapper">
  <div class="view-post">

    <div class="img-wrapper">
      <img *ngIf="currentPost.img == ''" class="mainImg" src="https://fomantic-ui.com/images/wireframe/image.png">
      <img class="mainImg" [src]="currentPost.img" [alt]="currentPost.img">
    </div>

    <div class="information-wrapper">
      <div class="title">
        <h1 style="margin-bottom: 0">{{currentPost.title}}</h1>
        <h3 style="color: grey">Offered by: @{{currentPost.userName}}</h3>
      </div>

      <div class="description">
        <h3>Description of the post:</h3>
        <p>{{currentPost.description}}</p>
      </div>
      <div class="price-address-wrapper">
        <div class="price">
          <p>Price: {{currentPost.price}} kr.</p>
        </div>
        <div class="address">
          <p>Seller's address: {{currentPost.address}}</p>
        </div>
      </div>
      <div class="contactBtn">
        <button mat-button style="height: 100%;width: 100%; color: white; background: orange" (click)="sendMail()">Send
          an email to the seller
        </button>
      </div>
    </div>
  </div>

  <div class="comments-wrapper">

    <div class="comments-header">
      <h4>Comments on this post: <span style="color: orange; font-weight: bold; margin-left: 10px">{{listComments.length}} </span></h4>
      <button mat-button (click)="newComment()">Add Comment</button>
    </div>

    <div class="comments-empty" *ngIf="listComments.length<1">
      <h4>There are no comments on this post yet.</h4>
    </div>

    <div class="comment" *ngFor="let comment of listComments">
      <div class="header-inside-comment">
        <div class="avatar-author">
          <img src="{{comment.avatar}}">
          <h4 >@{{comment.author}}</h4>
        </div>

        <h4 style="color: grey;">{{comment.date}}</h4>
      </div>

      <div class="comment-content">
        <h3>"{{comment.content}}"</h3>
      </div>

    </div>

  </div>

</div>






