<div>
  <nav>
    <ul>
      <li><a class="default" href="/mainPage">Main page</a></li>
      <li><a class="default" href="/profile">My profile</a></li>
      <li><a class="default" href="/myposts">My posts</a></li>
      <h4 *ngIf="currentUser.userName!=''" style="float: right;">Welcome: @{{currentUser.userName}}</h4>
      <li *ngIf="currentUser.roleId===0" style="float:right"><a class="active" href="/admin-panel">Admin Panel</a></li>
      <li *ngIf="currentUser.userName!='' && currentUser.roleId!==0 && currentUser.roleId!==2" style="float:right"><a class="active" href="/newpost">New Post</a></li>
      <li *ngIf="currentUser.userName!=''" style="float:right"><a class="active" (click)="logout()" href="/logout">logout</a></li>
      <li *ngIf="currentUser.userName==''" style="float:right"><a class="active" href="/login">Login</a></li>
      <li *ngIf="currentUser.userName==''" style="float:right"><a class="active" href="/register">Register</a></li>
    </ul>
  </nav>
</div>
