<div class="wrapper">
  <div class="filter-wrapper">

    <div class="filter-title">
      <p> Search bar</p>
    </div>

    <div class="filter-categories">
      <p>
        <mat-checkbox formControlName="pepperoni">Mountain bikes</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="extracheese">Woman's bikes</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="mushroom">City bikes</mat-checkbox>
      </p>
    </div>

    <div class="filter-price">
      <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb>
        <input value="400" matSliderEndThumb>
      </mat-slider>
    </div>
  </div>
</div>
