<div class="register-wrapper">
  <mat-card>
    <mat-card-title class="registerTitle">
      Register in the system
    </mat-card-title>
    <form [formGroup]="registerFormGroup">
      <mat-form-field appearance="outline">
        <input [formControl]="emailControl" matInput [(ngModel)]="emailModel" placeholder="Email">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="passwordControl" type="password" matInput [(ngModel)]="passwordModel" formControlName="password">
        <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="repeatPasswordControl" type="password" matInput formControlName="repeatPassword">
        <mat-error *ngIf="repeatPasswordControl.invalid">{{getRepeatPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="firstNameControl" matInput [(ngModel)]="firstNameModel" placeholder="First name">
        <mat-error *ngIf="firstNameControl.invalid">{{getFistNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="lastNameControl" matInput  [(ngModel)]="lastNameModel" placeholder="Last name">
        <mat-error *ngIf="lastNameControl.invalid">{{getLastNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="usernameControl" matInput [(ngModel)]="userNameModel" placeholder="Username">
        <mat-error *ngIf="usernameControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="addressControl" matInput [(ngModel)]="addressModel" placeholder="Address">
        <mat-error *ngIf="addressControl.invalid">{{getAddressErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="postalCodeControl" matInput [(ngModel)]="postalCodeModel" placeholder="Postal Code">
        <mat-error *ngIf="postalCodeControl.invalid">{{getPostalCodeErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-button (click)="registerUser()" [disabled]="!registerFormGroup.valid">Register</button>
    </form>
  </mat-card>
</div>
