<div class="register-wrapper">
  <mat-card>
    <mat-card-title class="registerTitle">
      Register in the system
    </mat-card-title>

    <form [formGroup]="registerFormGroup">
      <mat-form-field appearance="outline">
        <input [formControl]="emailControl" matInput placeholder="Email">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="passwordControl" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="repeatPasswordControl" matInput placeholder="Repeat password" formControlName="repeatPassword">
        <mat-error *ngIf="repeatPasswordControl.invalid">{{getRepeatPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="firstNameControl" matInput placeholder="First name">
        <mat-error *ngIf="firstNameControl.invalid">{{getFistNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="lastNameControl" matInput placeholder="Last name">
        <mat-error *ngIf="lastNameControl.invalid">{{getLastNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="usernameControl" matInput placeholder="Username">
        <mat-error *ngIf="usernameControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input [formControl]="addressControl" matInput placeholder="Username">
        <mat-error *ngIf="addressControl.invalid">{{getAddressErrorMessage()}}</mat-error>
      </mat-form-field>


      <button mat-button (click)="print()">click me</button>


    </form>

  </mat-card>
</div>
